@page
@model Chino.IdentityServer.Pages.Account.LoginModel
@using Chino.IdentityServer.Extensions.Configurations 
@inject IStringLocalizer<Chino.IdentityServer.Pages.Account.LoginModel> L
@inject Chino.IdentityServer.Configures.ChinoAccountConfiguration AccountConfiguration
@inject CommonLocalizationService CL

@{
    ViewContext.ClientValidationEnabled = true;
    ViewData["Nav_ShowLogin/Out"] = false;
}

<div class="login-page pb-4 mb-4">

    <div class="login-form">
        <div class="lead">
            <h1 class="h3 mb-3 fw-normal">@L["title_login"]</h1>
        </div>
        <partial name="ValidationSummary" />

        @if (Model.EnableLocalLogin)
        {
            <div class="card mt-1 shadow text-center">
                <div class="card-header">
                    <h3 class="h5">@L["login_by_account"]</h3>
                </div>
                <div class="card-body">
                    <form asp-route="Login">
                        <div class="form-group">
                            <label asp-for="IdentityString" class="visually-hidden">@AccountConfiguration.GetLoginInputText(CL)</label>
                            <input class="form-control input-head" placeholder="@AccountConfiguration.GetLoginInputText(CL)" asp-for="IdentityString" autofocus required>
                        </div>
                        <div class="form-group">
                            <label asp-for="LoginDto.Password" class="visually-hidden">@L["password"]</label>
                            <input type="password" class="form-control input-end" placeholder="@L["password"]" asp-for="LoginDto.Password" autocomplete="off">
                        </div>
                        <div class="form-group text-left">
                            <div>@*<span asp-validation-for="LoginDto.Identity" class="text-danger"></span>*@</div>
                            <div><span asp-validation-for="LoginDto.Password" class="text-danger"></span></div>
                        </div>

                        @if (Model.AllowRememberLogin)
                        {
                            <div class="checkbox mb-3 mt-2 text-left">
                                <label>
                                    <input type="checkbox" asp-for="LoginDto.RememberLogin" /> @L["remember_login"]
                                </label>
                            </div>
                        }
                        <div class="d-grid d-sm-block gap-2 mx-auto">
                            <button class="btn btn-primary px-5" name="button" value="login">@L["btn_login"]</button>
                            <button class="btn btn-secondary px-5" formnovalidate name="button" value="cancel">@L["btn_cancel"]</button>
                            @*  使用class "cancel" 可以跳过客户端的表单验证，或者使用"formnovalidate" *@
                        </div>
                    </form>

                </div>
                <div class="card-footer text-muted">
                    @if (AccountConfiguration.EnableRegister)
                    {
                        <a asp-page="Account/ForgetPassword" class="link-secondary">@L["link_forget_password"]</a> @("|") <a asp-page="/Account/Register" class="link-secondary">@L["link_register"]</a>
                    }
                    else
                    {
                        <a asp-page="Account/ForgetPassword" class="link-secondary">@L["link_forget_password"]</a>
                    }
                </div>
            </div>
        }
    </div>
    
    
</div>


<style>

    body {
        background-color: #f5f5f5;
    }

    
    .login-form{
        width:100%;
        max-width:380px;
        margin:auto;
    }


    .login-form .form-control{
        position:relative;
        box-sizing:border-box;
        height:auto;
        padding:10px;
        font-size:16px;
    }

    .login-form .form-control:focus{
        z-index:2;
    }

    .login-form .checkbox{
        font-weight: 400;
    }

    .login-form .input-head {
        margin-bottom: -1px;
        border-bottom-left-radius:0;
        border-bottom-right-radius:0;
    }

    .login-form .input-end {
        margin-bottom: 10px;
        border-top-left-radius:0;
        border-top-right-radius:0;
    }

    .login-form .card-footer{
        font-size:small;
    }

    .login-form .card-footer a{
        text-decoration:none;
    }

    .login-form .card-footer a:hover{
        text-decoration:none;
    }
</style>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}