@page
@model Chino.IdentityServer.Pages.Dashboard.ApiResource.ApiScopesModel
@inject IStringLocalizer<Chino.IdentityServer.Pages.Dashboard.ApiResource.ApiScopesModel> L
@inject IStringLocalizer<Chino.IdentityServer.Pages.Dashboard.ApiResourcesModel> ApiResL
@{
    Layout = "_DashboardLayout";
    ViewData["pageName"] = "apiResources";
}


<div class="mt-3 container">

    @*面包屑*@
    <div class="card-body mb-3 py-0 px-0">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-page="/Dashboard/Clients">@ApiResL["breadcrumb_ApiRespirces"]</a></li>
                <li class="breadcrumb-item">@Model.ApiResEntity.Name</li>
                <li class="breadcrumb-item active" aria-current="page">@L["breadcrumb_apiScopes"]</li>
            </ol>
        </nav>
    </div>

    <partial name="ValidationSummary" />

    @*卡片：添加跨域*@
    <div class="card mb-3">
        <div class="card-header">
            <h6 class="h6">@L["card_header_addUserClaims"]</h6>
        </div>
        <div class="card-body">
            <form method="post">
                @*隐藏内容*@
                @*<input asp-for="ReturnUrl" hidden />*@
                <input asp-for="Id" hidden />

                <div class="mb-3 row">
                    <label class="form-label col-sm-3 col-form-label">
                        @L["label_UserClaims"]
                    </label>
                    <div class="col-sm-9">
                        <input name="userClaim" id="newUserClaim" class="form-control" autocomplete="off" />
                    </div>
                </div>

                <button class="btn btn-primary" type="submit">@L["btn_add"]</button>
            </form>
        </div>
    </div>

    @*卡片：Api作用域（就不分页了吧）*@
    <div class="card mb-3">
        <div class="card-header">
            <h6 class="h6">@L["card_header_scopes"]</h6>
        </div>
        <div class="card-body">
            <ul class="list-group-flush">
                @foreach (var scope in Model.ApiResEntity.Scopes)
                {
                    <li class="list-group-item">
                        <a asp-page="UserClaims"
                           asp-page-handler="DeletItem"
                           asp-route-Id="@Model.Id"
                           asp-route-claimId="@scope.Id" class="btn btn-danger btn-sm py-1 px-3 mr-3"><span class="oi oi-x"></span></a>

                        <a asp-page="UserClaims"
                           asp-page-handler="DeletItem"
                           asp-route-Id="@Model.Id"
                           asp-route-claimId="@scope.Id" class="btn btn-primary btn-sm py-1 px-3 mr-3"><span class="oi oi-pencil"></span></a>
                        @scope.Scope
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
